{% extends 'base.html' %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Despesas</title>
    {% bootstrap_css %}
</head>
<body>
    {% block content %}
      <h1>Criar Despesa</h1>
      <form method="POST" enctype="multipart/form-data" action="{% url 'lista_receitas_despesas' %}">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit">Salvar</button>
      </form>
    {% endblock %}
  </body>
</html>