{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="text-center mb-5">Criar Finança de uma Receita</h1>
      <form method="POST" enctype="multipart/form-data" action="{% url 'criar_receita' %}">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary btn-block mt-4">Salvar</button>
        <a href="{% url 'home' %}" class="btn btn-secondary btn-block mt-3">Voltar para a home</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}