<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
        <h1>Deletar Receita</h1>
        <form method="post">
            {% csrf_token %}
            <p>Você tem certeza que deseja deletar a receita "{{ receita.descricao }}"?</p>
            <input type="submit" value="Deletar" class="btn btn-danger">
            <a href="{% url 'lista_receitas_despesas' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    {% endblock %}
    
</body>
</html>