{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    {% bootstrap_css %}
</head>
<body>
	<h1>Bem-vindo ao Controle de Gastos de suas Finanças!</h1>
	<p>Escolha uma opção abaixo:</p>
	<ul>
		<li><a href="{% url 'criar_receita' %}">Cadastrar nova Receita</a></li>
		<li><a href="{% url 'criar_despesa' %}">Cadastrar nova Despesa</a></li>
		<li><a href="{% url 'lista_receitas' %}">Listar todas Receitas</a></li>

		<li><a href="{% url 'lista_despesas' %}">Listar todas Despesas</a></li>
	</ul>
</body>
</html>