<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if despesas %}
        <h2>Lista de Despesas</h2>
        <ul>
        {% for despesa in despesas %}
            <li> R$ -{{ despesa.valor }} -- {{ despesa.data }} --{{despesa.categoria}} -- {{ despesa.descricao }} -- {{ despesa.comprovante}} -- (criado em: {{ despesa.criado_em|date:"d/m/Y H:i:s"}})  <a href="{% url 'editar_despesa' despesa.id %}">editar</a></li><br>

            <form action="{% url 'deletar_despesa' despesa.id %}" method="POST" style="display: inline;">
                {% csrf_token %}
                <button type="submit">apagar</button>
                <br>
                <br>
            </form>
        {% endfor %}
        </ul>
    {% endif %}
</body>
</html>