<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Despesas</title>
</head>
<body>
    <a href="{% url 'home' %}" class="button">Página Inicial</a>
    <br>
    <br>
    <div class="filtro">
        <form method="GET">
            <label for="filtro-data-inicial">Filtrar por data:</label>
            <input type="date" id="filtro-data-inicial" name="data_inicial" value="{{ data_inicial_filtro }}"> até
            <input type="date" id="filtro-data-final" name="data_final" value="{{ data_final_filtro }}">

            <label for="filtro-valor">Filtrar por valor:</label>
            <input type="number" id="filtro-valor-min" name="min_valor" placeholder="Mínimo" value="{{ valor_filtro.min }}">
            <input type="number" id="filtro-valor-max" name="max_valor" placeholder="Máximo" value="{{ valor_filtro.max }}">

            <label for="filtro-categoria">Filtrar por categoria:</label>
            <select id="filtro-categoria" name="categoria">
                <option value="">Todos</option>
                {% for categoria in categorias %}
                <option value="{{ categoria }}" {% if categoria == categoria_filtro %} selected {% endif %}>{{ categoria }}</option>
                {% endfor %}
            </select>

            <button type="submit">Filtrar</button>
            <a href="{% url 'lista_despesas' %}" class="btn btn-secondary">Limpar Filtros</a>
        </form>
    </div>

    <h2>Resumo de Despesas</h2>
    <table>
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Total Gasto</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria, total_gasto in resumo_despesas.items %}
            <tr>
                <td>{{ categoria }}</td>
                <td>R$ {{ total_gasto }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Lista de Despesas</h2>
    {% include 'messages.html' %}

    <a href="{% url 'baixar_despesas'%}">Baixar todas as despesas</a>
    
    <a href="{% url 'baixar_despesas_filtradas' %}?valor={{ valor_filtro }}&data={{ data_filtro }}&categoria={{ categoria_filtro }}">Baixar as Despesas filtradas</a>
    
    <ul>
        {% for despesa in despesas %}
        <li> R$ -{{ despesa.valor }} -- {{ despesa.data }} --{{despesa.categoria}} -- {{ despesa.descricao }} -- {{ despesa.comprovante}} -- (criado em: {{ despesa.criado_em|date:"d/m/Y H:i:s"}})  <a href="{% url 'editar_despesa' despesa.id %}">editar</a></li><br>

        <form action="{% url 'deletar_despesa' despesa.id %}" method="POST" style="display: inline;">
            {% csrf_token %}
            <button type="submit">apagar</button>
            <br>
            <br>
        </form>
        {% empty %}
            <p>Não há despesas para exibir.</p>
        {% endfor %}
    </ul>

</body>
</html>
