{% include "base.html" %}

<!DOCTYPE html>
<html lang="pt-br">
<head>

    <a href="{% url 'home' %}" class="btn btn-primary">Pagina inicial</a>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Despesas</title>
</head>
<body>

    <br>
    <br>
    <div class="filtro">
        <form method="GET">
            <label for="filtro-data-inicial">Filtrar por data:</label>
            <input type="date" id="filtro-data-inicial" name="data_inicial" value="{{ data_inicial_filtro }}"> até
            <input type="date" id="filtro-data-final" name="data_final" value="{{ data_final_filtro }}">

            <label for="filtro-valor">Filtrar por valor:</label>
            <input type="number" id="filtro-valor-min" name="min_valor" placeholder="Mínimo" value="{{ valor_filtro.min }}">
            <input type="number" id="filtro-valor-max" name="max_valor" placeholder="Máximo" value="{{ valor_filtro.max }}">

            <label for="filtro-categoria">Filtrar por categoria:</label>
            <select id="filtro-categoria" name="categoria">
                <option value="">Todos</option>
                {% for categoria in categorias %}
                <option value="{{ categoria }}" {% if categoria == categoria_filtro %} selected {% endif %}>{{ categoria }}</option>
                {% endfor %}
            </select>

            <button type="submit" class="btn btn-primary">Filtrar</button>
            <a href="{% url 'lista_despesas' %}" class="btn btn-secondary">Limpar Filtros</a>
        </form>
    </div>



   <center><h2>Lista de Despesas</h2></center> 
   <br>

{% include 'messages.html' %}

<a href="{% url 'baixar_receitas'%}" class="btn btn-primary">Baixar todas as receitas</a>

<a href="{% url 'baixar_despesas_filtradas' %}?valor={{ valor_filtro }}&data={{ data_filtro }}&categoria={{ categoria_filtro }} " class="btn btn-success float-center" >Baixar as Despesas Filtradas</a>

{% if despesas %}
<table class="table table-dark">
  <thead>
    <tr>
      <th>Valor</th>
      <th>Data</th>
      <th>Categoria</th>
      <th>Descrição</th>
      <th>Comprovante</th>
      <th>Criado em</th>
      <th>Editar</th>
      <th>Apagar</th>
    </tr>
  </thead>
  <tbody>
    {% for despesa in despesas %}
    <tr>
      <td>R$ {{ despesa.valor }}</td>
      <td>{{ despesa.data }}</td>
      <td>{{ despesa.categoria }}</td>
      <td>{{ despesa.descricao }}</td>
      <td>{{ despesa.comprovante }}</td>
      <td>{{ despesa.criado_em|date:"d/m/Y H:i:s" }}</td>
      
      <td><a href="{% url 'editar_despesa' despesa.id %}" class="btn btn-warning">editar</a></td>
      <td>
        <form action="{% url 'deletar_despesa' despesa.id %}" method="POST" style="display: inline;">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Apagar</button>
        </form>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="8">Não há despesas para exibir.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>Não há despesas para exibir.</p>
{% endif %}

</body>
</html>
