<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if receitas %}
   
    <h2>Lista de Receitas</h2>
    <ul>
    {% for receita in receitas %}
        <li> R$ - {{ receita.valor }} - {{ receita.data }} -- {{ receita.categoria }} -- {{ receita.descricao }} -- {{ receita.comprovante }} -- (criado em: {{ receita.criado_em|date:"d/m/Y H:i:s"}})<a href="{% url 'editar_receita' receita.id %}">editar</a></li><br>

        <form action="{% url 'deletar_receita' receita.id %}" method="POST" style="display: inline;">
            {% csrf_token %}
            <button type="submit">apagar</button>
            <br>
            <br>
        </form>
    {% endfor %}
    </ul>
    {% endif %}
</body>
</html>